{% extends 'base.html' %}

{% block body %}
<div class="container-fluid p-0">
	<section class="profile-section p-3 p-lg-5 d-flex align-items-center" id="about">
		<div class="container-form" style="border:1px solid #ccc" >
	    	<h2>Proyek</h2>
	    	
	    	<form method="POST" class="post-form">{% csrf_token %}
	        	{{ form.as_p }}
	        	<button type="submit" class="save btn btn-default" class="signupbtn">Save</button>
	    	</form>
	    </div>
	</section>
</div>
{% endblock %}