<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Story 6</title>
</head>
<body>
    <h1 style="color:#FF0000;font-size:40px" >"Hello, Apa Kabar?"</h1>
    <h2>Inputs</h2>
    <hr>
    {% for instance in input %}
    <h3>Status :
    	<span>{{instance.status}}</span> 
    </h3>
    <h3>Date created:
    	<span>{{instance.created_date}}</span> 
    </h3>


    <hr>
    {% endfor %}

    <a href="{% url 'profil' %}">Check my profile</a>
 	<form method="POST" class="post-form">{% csrf_token %}
	       {{ form.as_p }}
	    <button type="submit" class="save btn btn-default" id="signupbtn">Save</button>
	</form>
</body>
</html>
