{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Story 6 Challenge</title>
</head>
<body>
	<img src={% static "img/profile.jpg" %} alt="" style="width:20%">
	<h1>Helmi Al Farel</h1>
	<h1>1806235896</h1>
</body>
</html>